<h2>Create a room</h2>
<form action="<%= page_path(@conn, :create) %>">
  <input type="text" name="room">
  <input type="submit" value="Create">
</form>
<h2>Join to a room</h2>
<form action="<%= page_path(@conn, :join) %>">
  <input type="text" name="room">
  <input type="text" name="name">
  <input type="submit" value="Create">
</form>
